### 패턴/선호도 분석
1. 사용자별 방문 패턴 분석: 각 사용자가 방문한 페이지별로 평균 세션 지속 시간을 계산하고, 각 페이지별로 가장 긴 평균 세션 시간을 가진 사용자를 찾으세요. 이를 위해 각 사용자의 페이지별 평균 세션 시간을 계산하고, 각 페이지에서 가장 긴 평균 세션 시간을 모두 더하고 정수형으로 출력하시오.
2. 시간대별 페이지 선호도 분석: 하루를 네 시간대로 나누고 (새벽: 0-6시, 오전: 6-12시, 오후: 12-18시, 저녁: 18-24시), 각 시간대별로 가장 많이 방문된 페이지를 찾으세요. 각 시간대별로 가장 많이 방문된 페이지의 이름과 해당 시간대의 방문 횟수를 찾으세요! (단 0-6시 일때 0시부터 6시 전까지입니다.)
   * 시간대 별로 나누었을 때 가장 많이 방문한 페이지의 이름을 구하시오.
   * 시간대 별로 나누었을 때 가장 방문 횟수가 큰 값을 구하시오
3. 재방문 패턴 분석: 사용자가 같은 날짜에 여러 페이지를 방문하는 경우를 '재방문'으로 간주합니다. 재방문한 사용자들의 데이터를 분석하여, 재방문한 날짜별 총 방문 페이지 수를 구하고 가장 재방문이 많은 월을 정수로 구하시오

* [원본링크](https://www.kaggle.com/code/agileteam/t1-34-pattern-py)

In [81]:
import pandas as pd
data_path = 'C:\Engineer_Big_Data_Analysis\DATAS\kaggle_BDCKR\website.csv'
df = pd.read_csv(data_path)
print(df.shape)
df

(9601, 4)

      UserID            StartTime              EndTime   Page
0          1  2023-07-02 08:32:00  2023-07-02 12:41:00  Page1
1          1  2023-05-16 11:37:00  2023-05-16 13:29:00  Page5
2          1  2023-05-05 03:39:00  2023-05-05 05:48:00  Page2
3          1  2023-05-04 23:04:00  2023-05-05 01:54:00  Page3
4          1  2023-09-04 11:27:00  2023-09-04 14:09:00  Page1
...      ...                  ...                  ...    ...
9596    1202  2023-06-26 09:43:00  2023-06-26 13:43:00  Page3
9597    1202  2023-11-17 02:21:00  2023-11-17 04:31:00  Page3
9598    1202  2023-03-07 14:56:00  2023-03-07 17:27:00  Page2
9599    1202  2023-07-24 03:22:00  2023-07-24 06:58:00  Page2
9600    1202  2023-04-03 23:18:00  2023-04-04 03:55:00  Page5

[9601 rows x 4 columns]

In [82]:
# 1. 사용자별 방문 패턴 분석
    # 각 사용자가 방문한 페이지별로 평균 세션 지속 시간을 계산하고,
    # 각 페이지별로 가장 긴 평균 세션 시간을 가진 사용자를 찾으세요.
    # 이를 위해 각 사용자의 페이지별 평균 세션 시간을 계산하고,
    # 각 페이지에서 가장 긴 평균 세션 시간을 모두 더하고 정수형으로 출력하시오.

# 지속시간 열을 추가
# 하기 전에 time 열들을 datetime으로 변경
df['StartTime'] = pd.to_datetime(df['StartTime'])
df['EndTime'] = pd.to_datetime(df['EndTime'])
print(df.dtypes)

# 지속시간 열 추가
df['DwellHour'] = (df['EndTime'] - df['StartTime']).dt.total_seconds()/60/60
df

UserID                int64
StartTime    datetime64[ns]
EndTime      datetime64[ns]
Page                 object
dtype: object

      UserID           StartTime             EndTime   Page  DwellHour
0          1 2023-07-02 08:32:00 2023-07-02 12:41:00  Page1   4.150000
1          1 2023-05-16 11:37:00 2023-05-16 13:29:00  Page5   1.866667
2          1 2023-05-05 03:39:00 2023-05-05 05:48:00  Page2   2.150000
3          1 2023-05-04 23:04:00 2023-05-05 01:54:00  Page3   2.833333
4          1 2023-09-04 11:27:00 2023-09-04 14:09:00  Page1   2.700000
...      ...                 ...                 ...    ...        ...
9596    1202 2023-06-26 09:43:00 2023-06-26 13:43:00  Page3   4.000000
9597    1202 2023-11-17 02:21:00 2023-11-17 04:31:00  Page3   2.166667
9598    1202 2023-03-07 14:56:00 2023-03-07 17:27:00  Page2   2.516667
9599    1202 2023-07-24 03:22:00 2023-07-24 06:58:00  Page2   3.600000
9600    1202 2023-04-03 23:18:00 2023-04-04 03:55:00  Page5   4.616667

[9601 rows x 5 columns]

In [83]:
# 각 사용자의 페이지별 평균 세션 시간 확인
User_Page_per_df = df.groupby(['UserID', 'Page']).mean()
display(User_Page_per_df)

                       StartTime             EndTime  DwellHour
UserID Page
1      Page1 2023-08-03 09:59:30 2023-08-03 13:25:00   3.425000
       Page2 2023-08-17 05:30:00 2023-08-17 08:04:15   2.570833
       Page3 2023-05-18 17:46:15 2023-05-18 18:47:00   1.012500
       Page5 2023-04-05 14:33:15 2023-04-05 17:28:30   2.920833
2      Page1 2023-01-27 02:57:00 2023-01-27 07:34:00   4.616667
...                          ...                 ...        ...
1201   Page5 2023-07-17 02:55:24 2023-07-17 05:14:24   2.316667
1202   Page2 2023-05-15 21:09:00 2023-05-16 00:12:30   3.058333
       Page3 2023-09-28 09:45:40 2023-09-28 12:22:40   2.616667
       Page4 2023-07-11 07:12:00 2023-07-11 08:54:00   1.700000
       Page5 2023-08-10 02:23:00 2023-08-10 06:08:00   3.750000

[4467 rows x 3 columns]

In [84]:
# 페이지별 가장 긴 세션시간을 합해서 정수형으로 출력
display(User_Page_per_df.groupby('Page').max().DwellHour)
int(User_Page_per_df.groupby('Page').max().DwellHour.sum())

Page
Page1    5.000000
Page2    4.983333
Page3    5.000000
Page4    4.983333
Page5    4.983333
Name: DwellHour, dtype: float64

24

---

In [85]:
# 2. 시간대별 페이지 선호도 분석
    # 하루를 네 시간대로 나누고 (새벽: 0-6시, 오전: 6-12시, 오후: 12-18시, 저녁: 18-24시),
    # 각 시간대별로 가장 많이 방문된 페이지를 찾으세요.
    # 각 시간대별로 가장 많이 방문된 페이지의 이름과 해당 시간대의 방문 횟수를 찾으세요!
    # (단 0-6시 일때 0시부터 6시 전까지입니다.)
        # * 시간대 별로 나누었을 때 가장 많이 방문한 페이지의 이름을 구하시오.
        # * 시간대 별로 나누었을 때 가장 방문 횟수가 큰 값을 구하시오
        
# 복사해서 사용
timeslot_df = df.copy()

# 시간 넣어서 시간대 뽑을 함수 만들기
def time_trim(h):
    if 0 <= h < 6 : return '새벽'
    elif 6 <= h < 12 : return '오전'
    elif 12 <= h < 18 : return '오후'
    elif 18 <= h < 23 : return '저녁'
# 적용해서 열 추가
timeslot_df['TimeSlot'] = timeslot_df.StartTime.dt.hour.apply(time_trim)
timeslot_df

,UserID,StartTime,EndTime,Page,DwellHour,TimeSlot
0,1,2023-07-02 08:32:00,2023-07-02 12:41:00,Page1,4.150000,오전
1,1,2023-05-16 11:37:00,2023-05-16 13:29:00,Page5,1.866667,오전
2,1,2023-05-05 03:39:00,2023-05-05 05:48:00,Page2,2.150000,새벽
3,1,2023-05-04 23:04:00,2023-05-05 01:54:00,Page3,2.833333,None
4,1,2023-09-04 11:27:00,2023-09-04 14:09:00,Page1,2.700000,오전
...,...,...,...,...,...,...
9596,1202,2023-06-26 09:43:00,2023-06-26 13:43:00,Page3,4.000000,오전
9597,1202,2023-11-17 02:21:00,2023-11-17 04:31:00,Page3,2.166667,새벽
9598,1202,2023-03-07 14:56:00,2023-03-07 17:27:00,Page2,2.516667,오후
9599,1202,2023-07-24 03:22:00,2023-07-24 06:58:00,Page2,3.600000,새벽
9600,1202,2023-04-03 23:18:00,2023-04-04 03:55:00,Page5,4.616667,None

In [86]:
# 각 시간대별 가장 많이 방문한 페이지 df로 저장
sort_df = timeslot_df.groupby(['TimeSlot', 'Page']).count().sort_values(['TimeSlot', 'DwellHour'], ascending=False)
display(sort_df)

# 시간대별 가장 많이 방문한 페이지 이름과 방문 횟수
timeslot_list = ['새벽', '오전', '오후', '저녁']
for slot in timeslot_list:
    print(f"{slot}: 가장 많이 방문한 페이지는 {sort_df.loc[slot].index[0]}이고 그 횟수는 {sort_df.loc[slot].max()[0]}회")

                UserID  StartTime  EndTime  DwellHour
TimeSlot Page
저녁       Page1     428        428      428        428
         Page5     425        425      425        425
         Page3     416        416      416        416
         Page4     405        405      405        405
         Page2     380        380      380        380
오후       Page3     472        472      472        472
         Page1     466        466      466        466
         Page2     459        459      459        459
         Page5     455        455      455        455
         Page4     452        452      452        452
오전       Page5     538        538      538        538
         Page3     500        500      500        500
         Page4     463        463      463        463
         Page1     453        453      453        453
         Page2     452        452      452        452
새벽       Page4     526        526      526        526
         Page3     494        494      494        494
         Page1     480        480      480        480
         Page5     479        479      479        479
         Page2     468        468      468        468

새벽: 가장 많이 방문한 페이지는 Page4이고 그 횟수는 526회
오전: 가장 많이 방문한 페이지는 Page5이고 그 횟수는 538회
오후: 가장 많이 방문한 페이지는 Page3이고 그 횟수는 472회
저녁: 가장 많이 방문한 페이지는 Page1이고 그 횟수는 428회

C:\Users\lemon\AppData\Local\Temp\ipykernel_2644\2022846011.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{slot}: 가장 많이 방문한 페이지는 {sort_df.loc[slot].index[0]}이고 그 횟수는 {sort_df.loc[slot].max()[0]}회")

In [87]:
# 전체적으로 가장 많이 방문한 페이지와 그 횟수
print(timeslot_df.groupby(['TimeSlot', 'Page']).count().sort_values('DwellHour', ascending=False).index[0][1])
print(timeslot_df.groupby(['TimeSlot', 'Page']).count().sort_values('DwellHour', ascending=False).iloc[0,0])

Page5
538

In [88]:
# 3. 재방문 패턴 분석:
    # 사용자가 같은 날짜에 여러 페이지를 방문하는 경우를 '재방문'으로 간주합니다.
    # 재방문한 사용자들의 데이터를 분석하여,
    # 재방문한 날짜별 총 방문 페이지 수를 구하고
    # 가장 재방문이 많은 월을 정수로 구하시오
# 복사해서 사용
df_third = df.copy()
# StartTime에서 날짜만 빼서 StartDate로 열 추가
df_third['StartDate'] = df_third.StartTime.dt.date
print(df_third.dtypes)
df_third

UserID                int64
StartTime    datetime64[ns]
EndTime      datetime64[ns]
Page                 object
DwellHour           float64
StartDate            object
dtype: object

,UserID,StartTime,EndTime,Page,DwellHour,StartDate
0,1,2023-07-02 08:32:00,2023-07-02 12:41:00,Page1,4.150000,2023-07-02
1,1,2023-05-16 11:37:00,2023-05-16 13:29:00,Page5,1.866667,2023-05-16
2,1,2023-05-05 03:39:00,2023-05-05 05:48:00,Page2,2.150000,2023-05-05
3,1,2023-05-04 23:04:00,2023-05-05 01:54:00,Page3,2.833333,2023-05-04
4,1,2023-09-04 11:27:00,2023-09-04 14:09:00,Page1,2.700000,2023-09-04
...,...,...,...,...,...,...
9596,1202,2023-06-26 09:43:00,2023-06-26 13:43:00,Page3,4.000000,2023-06-26
9597,1202,2023-11-17 02:21:00,2023-11-17 04:31:00,Page3,2.166667,2023-11-17
9598,1202,2023-03-07 14:56:00,2023-03-07 17:27:00,Page2,2.516667,2023-03-07
9599,1202,2023-07-24 03:22:00,2023-07-24 06:58:00,Page2,3.600000,2023-07-24
9600,1202,2023-04-03 23:18:00,2023-04-04 03:55:00,Page5,4.616667,2023-04-03

In [62]:
# 같은 날짜-같은 유저-방문한 페이지 보기 위해 그룹핑해서 count
grouped_df_third = pd.DataFrame(df_third.groupby(['StartDate', 'UserID', 'Page']).count().StartTime)
display(grouped_df_third)
# StartTime이 1보다 큰 경우만 남기고 reset_index해서 멀티인덱스를 행으로 옮기고 컬럼 이름 지정
over_1_df = grouped_df_third[grouped_df_third.StartTime > 1].reset_index()
over_1_df.columns = ['StartDate', 'UserID', 'Page', 'Revisit']
over_1_df

                         StartTime
StartDate  UserID Page
2023-01-01 23     Page3          1
           32     Page5          1
           36     Page5          1
           74     Page2          1
           76     Page5          1
...                            ...
2023-12-28 962    Page5          1
           1004   Page3          1
           1021   Page1          1
           1044   Page1          1
           1090   Page2          1

[9565 rows x 1 columns]

     StartDate  UserID   Page  Revisit
0   2023-01-01     509  Page1        2
1   2023-01-28     221  Page2        2
2   2023-01-28     935  Page4        2
3   2023-02-19     505  Page5        2
4   2023-02-22      71  Page3        2
5   2023-02-22     539  Page1        2
6   2023-03-01    1033  Page1        2
7   2023-03-05     219  Page3        2
8   2023-03-06     634  Page4        2
9   2023-03-11     323  Page4        2
10  2023-03-20     330  Page2        2
11  2023-03-22     455  Page1        2
12  2023-03-28     307  Page4        2
13  2023-04-01     895  Page5        2
14  2023-04-04    1018  Page5        2
15  2023-04-05     156  Page2        2
16  2023-04-21     310  Page1        2
17  2023-04-22     946  Page5        2
18  2023-05-14     218  Page1        2
19  2023-05-28     504  Page2        2
20  2023-05-28     646  Page4        2
21  2023-06-04     960  Page3        2
22  2023-06-16      26  Page3        2
23  2023-06-21    1168  Page1        2
24  2023-07-13      52  Page5        2
25  2023-07-23    1187  Page3        2
26  2023-08-04    1129  Page1        2
27  2023-09-09    1092  Page2        2
28  2023-09-20     340  Page2        2
29  2023-09-24     164  Page3        2
30  2023-09-25     851  Page5        2
31  2023-10-22    1190  Page1        2
32  2023-11-26     235  Page5        2
33  2023-11-27     952  Page1        2
34  2023-12-08     685  Page2        2
35  2023-12-12     243  Page4        2