### 패턴/선호도 분석
1. 사용자별 방문 패턴 분석: 각 사용자가 방문한 페이지별로 평균 세션 지속 시간을 계산하고, 각 페이지별로 가장 긴 평균 세션 시간을 가진 사용자를 찾으세요. 이를 위해 각 사용자의 페이지별 평균 세션 시간을 계산하고, 각 페이지에서 가장 긴 평균 세션 시간을 모두 더하고 정수형으로 출력하시오.
2. 시간대별 페이지 선호도 분석: 하루를 네 시간대로 나누고 (새벽: 0-6시, 오전: 6-12시, 오후: 12-18시, 저녁: 18-24시), 각 시간대별로 가장 많이 방문된 페이지를 찾으세요. 각 시간대별로 가장 많이 방문된 페이지의 이름과 해당 시간대의 방문 횟수를 찾으세요! (단 0-6시 일때 0시부터 6시 전까지입니다.)
   * 시간대 별로 나누었을 때 가장 많이 방문한 페이지의 이름을 구하시오.
   * 시간대 별로 나누었을 때 가장 방문 횟수가 큰 값을 구하시오
3. 재방문 패턴 분석: 사용자가 같은 날짜에 여러 페이지를 방문하는 경우를 '재방문'으로 간주합니다. 재방문한 사용자들의 데이터를 분석하여, 재방문한 날짜별 총 방문 페이지 수를 구하고 가장 재방문이 많은 월을 정수로 구하시오

* [원본링크](https://www.kaggle.com/code/agileteam/t1-34-pattern-py)

In [145]:
import pandas as pd
data_path = 'C:\Engineer_Big_Data_Analysis\DATAS\kaggle_BDCKR\website.csv'
df = pd.read_csv(data_path)
print(df.shape)
df

(9601, 4)

      UserID            StartTime              EndTime   Page
0          1  2023-07-02 08:32:00  2023-07-02 12:41:00  Page1
1          1  2023-05-16 11:37:00  2023-05-16 13:29:00  Page5
2          1  2023-05-05 03:39:00  2023-05-05 05:48:00  Page2
3          1  2023-05-04 23:04:00  2023-05-05 01:54:00  Page3
4          1  2023-09-04 11:27:00  2023-09-04 14:09:00  Page1
...      ...                  ...                  ...    ...
9596    1202  2023-06-26 09:43:00  2023-06-26 13:43:00  Page3
9597    1202  2023-11-17 02:21:00  2023-11-17 04:31:00  Page3
9598    1202  2023-03-07 14:56:00  2023-03-07 17:27:00  Page2
9599    1202  2023-07-24 03:22:00  2023-07-24 06:58:00  Page2
9600    1202  2023-04-03 23:18:00  2023-04-04 03:55:00  Page5

[9601 rows x 4 columns]

In [153]:
# 1. 사용자별 방문 패턴 분석
    # 각 사용자가 방문한 페이지별로 평균 세션 지속 시간을 계산하고,
    # 각 페이지별로 가장 긴 평균 세션 시간을 가진 사용자를 찾으세요.
    # 이를 위해 각 사용자의 페이지별 평균 세션 시간을 계산하고,
    # 각 페이지에서 가장 긴 평균 세션 시간을 모두 더하고 정수형으로 출력하시오.

# 지속시간 열을 추가
# 하기 전에 time 열들을 datetime으로 변경
df['StartTime'] = pd.to_datetime(df['StartTime'])
df['EndTime'] = pd.to_datetime(df['EndTime'])
print(df.dtypes)

# 지속시간 열 추가
df['DwellHour'] = (df['EndTime'] - df['StartTime']).dt.total_seconds()/60/60
df

UserID                int64
StartTime    datetime64[ns]
EndTime      datetime64[ns]
Page                 object
DwellHour           float64
dtype: object

      UserID           StartTime             EndTime   Page  DwellHour
0          1 2023-07-02 08:32:00 2023-07-02 12:41:00  Page1   4.150000
1          1 2023-05-16 11:37:00 2023-05-16 13:29:00  Page5   1.866667
2          1 2023-05-05 03:39:00 2023-05-05 05:48:00  Page2   2.150000
3          1 2023-05-04 23:04:00 2023-05-05 01:54:00  Page3   2.833333
4          1 2023-09-04 11:27:00 2023-09-04 14:09:00  Page1   2.700000
...      ...                 ...                 ...    ...        ...
9596    1202 2023-06-26 09:43:00 2023-06-26 13:43:00  Page3   4.000000
9597    1202 2023-11-17 02:21:00 2023-11-17 04:31:00  Page3   2.166667
9598    1202 2023-03-07 14:56:00 2023-03-07 17:27:00  Page2   2.516667
9599    1202 2023-07-24 03:22:00 2023-07-24 06:58:00  Page2   3.600000
9600    1202 2023-04-03 23:18:00 2023-04-04 03:55:00  Page5   4.616667

[9601 rows x 5 columns]

In [158]:
# 각 사용자의 페이지별 평균 세션 시간 확인
User_Page_per_df = df.groupby(['UserID', 'Page']).mean()
display(User_Page_per_df)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_37104\3760164791.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  User_Page_per_df = df.groupby(['UserID', 'Page']).mean()

              DwellHour
UserID Page
1      Page1   3.425000
       Page2   2.570833
       Page3   1.012500
       Page5   2.920833
2      Page1   4.616667
...                 ...
1201   Page5   2.316667
1202   Page2   3.058333
       Page3   2.616667
       Page4   1.700000
       Page5   3.750000

[4467 rows x 1 columns]

In [160]:
# 페이지별 가장 긴 세션시간을 소요한 유저 확인
for_df = User_Page_per_df.groupby('Page').max()
display(for_df)
print('-'*50)

# 페이지별 가장 긴 세션시간의 총합(정수형으로 출력)
print(int(for_df.sum()))
print('-'*50)

for i in range(len(for_df)):
    target_page = for_df.iloc[i].name
    targethour = for_df.iloc[i,0]
    user_list = list(User_Page_per_df[User_Page_per_df['DwellHour']==targethour].xs(target_page, level='Page').index)
    print(f'{target_page}의 가장 긴 세션 시간은 {int(targethour)}시간, 해당되는 유저는 {user_list}')

       DwellHour
Page
Page1   5.000000
Page2   4.983333
Page3   5.000000
Page4   4.983333
Page5   4.983333

--------------------------------------------------
24
--------------------------------------------------
Page1의 가장 긴 세션 시간은 5시간, 해당되는 유저는 [303, 807]
Page2의 가장 긴 세션 시간은 4시간, 해당되는 유저는 [534]
Page3의 가장 긴 세션 시간은 5시간, 해당되는 유저는 [614, 827]
Page4의 가장 긴 세션 시간은 4시간, 해당되는 유저는 [231]
Page5의 가장 긴 세션 시간은 4시간, 해당되는 유저는 [298, 902]

In [165]:
# 2. 시간대별 페이지 선호도 분석
    # 하루를 네 시간대로 나누고 (새벽: 0-6시, 오전: 6-12시, 오후: 12-18시, 저녁: 18-24시),
    # 각 시간대별로 가장 많이 방문된 페이지를 찾으세요.
    # 각 시간대별로 가장 많이 방문된 페이지의 이름과 해당 시간대의 방문 횟수를 찾으세요!
    # (단 0-6시 일때 0시부터 6시 전까지입니다.)
        # * 시간대 별로 나누었을 때 가장 많이 방문한 페이지의 이름을 구하시오.
        # * 시간대 별로 나누었을 때 가장 방문 횟수가 큰 값을 구하시오
        
# 복사해서 사용
timeslot_df = df.copy()

# 시간 넣어서 시간대 뽑을 함수 만들기
def time_trim(h):
    if 0 <= h < 6 : return '새벽'
    elif 6 <= h < 12 : return '오전'
    elif 12 <= h < 18 : return '오후'
    elif 18 <= h < 23 : return '저녁'
# 적용해서 열 추가
timeslot_df['TimeSlot'] = timeslot_df.StartTime.dt.hour.apply(time_trim)
timeslot_df

,UserID,StartTime,EndTime,Page,DwellHour,TimeSlot
0,1,2023-07-02 08:32:00,2023-07-02 12:41:00,Page1,4.150000,오전
1,1,2023-05-16 11:37:00,2023-05-16 13:29:00,Page5,1.866667,오전
2,1,2023-05-05 03:39:00,2023-05-05 05:48:00,Page2,2.150000,새벽
3,1,2023-05-04 23:04:00,2023-05-05 01:54:00,Page3,2.833333,None
4,1,2023-09-04 11:27:00,2023-09-04 14:09:00,Page1,2.700000,오전
...,...,...,...,...,...,...
9596,1202,2023-06-26 09:43:00,2023-06-26 13:43:00,Page3,4.000000,오전
9597,1202,2023-11-17 02:21:00,2023-11-17 04:31:00,Page3,2.166667,새벽
9598,1202,2023-03-07 14:56:00,2023-03-07 17:27:00,Page2,2.516667,오후
9599,1202,2023-07-24 03:22:00,2023-07-24 06:58:00,Page2,3.600000,새벽
9600,1202,2023-04-03 23:18:00,2023-04-04 03:55:00,Page5,4.616667,None

In [245]:
# 각 시간대별 가장 많이 방문한 페이지 df로 저장
sort_df = timeslot_df.groupby(['TimeSlot', 'Page']).count().sort_values(['TimeSlot', 'DwellHour'], ascending=False)
display(sort_df)

# 시간대별 가장 많이 방문한 페이지 이름과 방문 횟수
timeslot_list = ['새벽', '오전', '오후', '저녁']
for slot in timeslot_list:
    print(f"{slot}: 가장 많이 방문한 페이지는 {sort_df.loc[slot].index[0]}이고 그 횟수는 {sort_df.loc[slot].max()[0]}회")

                UserID  StartTime  EndTime  DwellHour
TimeSlot Page
저녁       Page1     428        428      428        428
         Page5     425        425      425        425
         Page3     416        416      416        416
         Page4     405        405      405        405
         Page2     380        380      380        380
오후       Page3     472        472      472        472
         Page1     466        466      466        466
         Page2     459        459      459        459
         Page5     455        455      455        455
         Page4     452        452      452        452
오전       Page5     538        538      538        538
         Page3     500        500      500        500
         Page4     463        463      463        463
         Page1     453        453      453        453
         Page2     452        452      452        452
새벽       Page4     526        526      526        526
         Page3     494        494      494        494
         Page1     480        480      480        480
         Page5     479        479      479        479
         Page2     468        468      468        468

새벽: 가장 많이 방문한 페이지는 Page4이고 그 횟수는 526회
오전: 가장 많이 방문한 페이지는 Page5이고 그 횟수는 538회
오후: 가장 많이 방문한 페이지는 Page3이고 그 횟수는 472회
저녁: 가장 많이 방문한 페이지는 Page1이고 그 횟수는 428회

In [246]:
# 전체적으로 가장 많이 방문한 페이지와 그 횟수
print(timeslot_df.groupby(['TimeSlot', 'Page']).count().sort_values('DwellHour', ascending=False).index[0])
print(timeslot_df.groupby(['TimeSlot', 'Page']).count().sort_values('DwellHour', ascending=False).iloc[0,0])

('오전', 'Page5')
538

In [263]:
# 3. 재방문 패턴 분석:
    # 사용자가 같은 날짜에 여러 페이지를 방문하는 경우를 '재방문'으로 간주합니다.
    # 재방문한 사용자들의 데이터를 분석하여,
    # 재방문한 날짜별 총 방문 페이지 수를 구하고
    # 가장 재방문이 많은 월을 정수로 구하시오
df_third = df.copy()
df_third.StartTime.dt.date.apply(lambda x:str(x))

0       2023-07-02
1       2023-05-16
2       2023-05-05
3       2023-05-04
4       2023-09-04
           ...
9596    2023-06-26
9597    2023-11-17
9598    2023-03-07
9599    2023-07-24
9600    2023-04-03
Name: StartTime, Length: 9601, dtype: object

In [251]:
# 일별로 리샘플

            UserID  EndTime  Page  DwellHour
StartTime
2023-01-01      35       35    35         35
2023-01-08     187      187   187        187
2023-01-15     216      216   216        216
2023-01-22     204      204   204        204
2023-01-29     165      165   165        165
2023-02-05     145      145   145        145
2023-02-12     175      175   175        175
2023-02-19     203      203   203        203
2023-02-26     202      202   202        202
2023-03-05     202      202   202        202
2023-03-12     171      171   171        171
2023-03-19     201      201   201        201
2023-03-26     208      208   208        208
2023-04-02     121      121   121        121
2023-04-09     184      184   184        184
2023-04-16     227      227   227        227
2023-04-23     208      208   208        208
2023-04-30     152      152   152        152
2023-05-07     192      192   192        192
2023-05-14     178      178   178        178
2023-05-21     193      193   193        193
2023-05-28     213      213   213        213
2023-06-04     130      130   130        130
2023-06-11     193      193   193        193
2023-06-18     190      190   190        190
2023-06-25     211      211   211        211
2023-07-02     147      147   147        147
2023-07-09     206      206   206        206
2023-07-16     223      223   223        223
2023-07-23     207      207   207        207
2023-07-30     143      143   143        143
2023-08-06     137      137   137        137
2023-08-13     206      206   206        206
2023-08-20     187      187   187        187
2023-08-27     188      188   188        188
2023-09-03     107      107   107        107
2023-09-10     202      202   202        202
2023-09-17     216      216   216        216
2023-09-24     198      198   198        198
2023-10-01     130      130   130        130
2023-10-08     195      195   195        195
2023-10-15     206      206   206        206
2023-10-22     234      234   234        234
2023-10-29     165      165   165        165
2023-11-05     142      142   142        142
2023-11-12     202      202   202        202
2023-11-19     184      184   184        184
2023-11-26     196      196   196        196
2023-12-03     149      149   149        149
2023-12-10     197      197   197        197
2023-12-17     182      182   182        182
2023-12-24     221      221   221        221
2023-12-31     125      125   125        125