### 패턴/선호도 분석
1. 사용자별 방문 패턴 분석: 각 사용자가 방문한 페이지별로 평균 세션 지속 시간을 계산하고, 각 페이지별로 가장 긴 평균 세션 시간을 가진 사용자를 찾으세요. 이를 위해 각 사용자의 페이지별 평균 세션 시간을 계산하고, 각 페이지에서 가장 긴 평균 세션 시간을 모두 더하고 정수형으로 출력하시오.
2. 시간대별 페이지 선호도 분석: 하루를 네 시간대로 나누고 (새벽: 0-6시, 오전: 6-12시, 오후: 12-18시, 저녁: 18-24시), 각 시간대별로 가장 많이 방문된 페이지를 찾으세요. 각 시간대별로 가장 많이 방문된 페이지의 이름과 해당 시간대의 방문 횟수를 찾으세요! (단 0-6시 일때 0시부터 6시 전까지입니다.)
   * 시간대 별로 나누었을 때 가장 많이 방문한 페이지의 이름을 구하시오.
   * 2-2: 시간대 별로 나누었을 때 가장 방문 횟수가 큰 값을 구하시오
3. 재방문 패턴 분석: 사용자가 같은 날짜에 여러 페이지를 방문하는 경우를 '재방문'으로 간주합니다. 재방문한 사용자들의 데이터를 분석하여, 재방문한 날짜별 총 방문 페이지 수를 구하고 가장 재방문이 많은 월을 정수로 구하시오

* [원본링크](https://www.kaggle.com/code/agileteam/t1-34-pattern-py)

In [19]:
import pandas as pd
data_path = 'C:\Engineer_Big_Data_Analysis\DATAS\kaggle_BDCKR\website.csv'
df = pd.read_csv(data_path)
print(df.shape)
df

(9601, 4)

      UserID            StartTime              EndTime   Page
0          1  2023-07-02 08:32:00  2023-07-02 12:41:00  Page1
1          1  2023-05-16 11:37:00  2023-05-16 13:29:00  Page5
2          1  2023-05-05 03:39:00  2023-05-05 05:48:00  Page2
3          1  2023-05-04 23:04:00  2023-05-05 01:54:00  Page3
4          1  2023-09-04 11:27:00  2023-09-04 14:09:00  Page1
...      ...                  ...                  ...    ...
9596    1202  2023-06-26 09:43:00  2023-06-26 13:43:00  Page3
9597    1202  2023-11-17 02:21:00  2023-11-17 04:31:00  Page3
9598    1202  2023-03-07 14:56:00  2023-03-07 17:27:00  Page2
9599    1202  2023-07-24 03:22:00  2023-07-24 06:58:00  Page2
9600    1202  2023-04-03 23:18:00  2023-04-04 03:55:00  Page5

[9601 rows x 4 columns]

In [20]:
# 1. 사용자별 방문 패턴 분석
    # 각 사용자가 방문한 페이지별로 평균 세션 지속 시간을 계산하고,
    # 각 페이지별로 가장 긴 평균 세션 시간을 가진 사용자를 찾으세요.
    # 이를 위해 각 사용자의 페이지별 평균 세션 시간을 계산하고,
    # 각 페이지에서 가장 긴 평균 세션 시간을 모두 더하고 정수형으로 출력하시오.

# 지속시간 열을 추가
# 하기 전에 time 열들을 datetime으로 변경
df['StartTime'] = pd.to_datetime(df['StartTime'])
df['EndTime'] = pd.to_datetime(df['EndTime'])
print(df.dtypes)

# 지속시간 열 추가
df['DwellMinute'] = (df['EndTime'] - df['StartTime']).dt.total_seconds()/60
df

UserID                int64
StartTime    datetime64[ns]
EndTime      datetime64[ns]
Page                 object
dtype: object

      UserID           StartTime             EndTime   Page  DwellMinute
0          1 2023-07-02 08:32:00 2023-07-02 12:41:00  Page1        249.0
1          1 2023-05-16 11:37:00 2023-05-16 13:29:00  Page5        112.0
2          1 2023-05-05 03:39:00 2023-05-05 05:48:00  Page2        129.0
3          1 2023-05-04 23:04:00 2023-05-05 01:54:00  Page3        170.0
4          1 2023-09-04 11:27:00 2023-09-04 14:09:00  Page1        162.0
...      ...                 ...                 ...    ...          ...
9596    1202 2023-06-26 09:43:00 2023-06-26 13:43:00  Page3        240.0
9597    1202 2023-11-17 02:21:00 2023-11-17 04:31:00  Page3        130.0
9598    1202 2023-03-07 14:56:00 2023-03-07 17:27:00  Page2        151.0
9599    1202 2023-07-24 03:22:00 2023-07-24 06:58:00  Page2        216.0
9600    1202 2023-04-03 23:18:00 2023-04-04 03:55:00  Page5        277.0

[9601 rows x 5 columns]

In [85]:
# 각 사용자의 페이지별 평균 세션 시간
User_Page_per_df = df.groupby(['UserID', 'Page']).mean()
display(User_Page_per_df)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_37104\2118291871.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  User_Page_per_df = df.groupby(['UserID', 'Page']).mean()

              DwellMinute
UserID Page
1      Page1       205.50
       Page2       154.25
       Page3        60.75
       Page5       175.25
2      Page1       277.00
...                   ...
1201   Page5       139.00
1202   Page2       183.50
       Page3       157.00
       Page4       102.00
       Page5       225.00

[4467 rows x 1 columns]

In [83]:
User_Page_per_df[User_Page_per_df['DwellMinute']==300].xs('Page1', level='Page')

        DwellMinute
UserID
303           300.0
807           300.0