In [1]:
# 1 유형

# C:/Engineer_Big_Data_Analysis/DATAS/이기적데이터/HR-Employee-Attrition.csv

# 1. 데이터에서 'Attrition'은 퇴사여부에 대한 종속변수에 해당한다. 종속변수의 값을 다음과 같이 숫자로 변환해 새 컬럼으로 추가하고 각 범주별 레코드 수를 계산하시오.
#    - Yes → 1
#    - No → 0

# 2. 데이터셋의 데이터타입별 컬럼 개수를 계산하고, 범주형 변수 중 유일한 값을 1개만 가지고 있는 컬럼(변수)을 찾아내어 그 변수를 데이터에서 제거하시오.

# 3. 원래 데이터에서 숫자형인 컬럼(변수)만 추출하여 새로운 데이터프레임을 생성하고, 각 변수간의 상관계수(피어슨 상관계수)를 구하고 상관계수가 0.9 이상인 두 개의 컬럼을 찾아내어 그 변수 중 하나를 제거하시오.

In [18]:
# 1. 데이터에서 'Attrition'은 퇴사여부에 대한 종속변수에 해당한다. 종속변수의 값을 다음과 같이 숫자로 변환해 새 컬럼으로 추가하고 각 범주별 레코드 수를 계산하시오.
#    - Yes → 1
#    - No → 0

import pandas as pd

# 데이터 로드
df = pd.read_csv('C:/Engineer_Big_Data_Analysis/DATAS/이기적데이터/HR-Employee-Attrition.csv')

# Attrition 숫자로 바꾼 열 추가
df['Attrition_nb'] = df.Attrition.apply(lambda x: 1 if x == 'Yes' else 0)

# 1, 0 개수 계산
df.Attrition_nb.value_counts()

Attrition_nb
0    1233
1     237
Name: count, dtype: int64

In [142]:
# 2. 데이터셋의 데이터타입별 컬럼 개수를 계산하고, 범주형 변수 중 유일한 값을 1개만 가지고 있는 컬럼(변수)을 찾아내어 그 변수를 데이터에서 제거하시오.

import pandas as pd

# 데이터 로드 
df = pd.read_csv('C:/Engineer_Big_Data_Analysis/DATAS/이기적데이터/HR-Employee-Attrition.csv')
print(df.shape)

# 데이터타입별 컬럼 개수 확인
dtype_size_df = pd.concat([df.dtypes.to_frame(), df.notna().sum().to_frame()], axis=1).reset_index()
dtype_size_df.columns = ['cols', 'dtype', 'count']
display(dtype_size_df.groupby('dtype')['count'].sum())
print('-'*50)

# nunique 컬럼 추가
dtype_size_df['nunique'] = dtype_size_df.cols.apply(lambda x:df[x].nunique())

# object이면서 nunique가 1인 index를 찾고 df에서 제거
target_col = dtype_size_df[(dtype_size_df['dtype']=='object')&(dtype_size_df['nunique']==1)].cols.values[0]
print(target_col)
df.drop(columns=target_col, axis=1, inplace=True)
print(df.shape)

(1470, 35)

dtype
int64     38220
object    13230
Name: count, dtype: int64

--------------------------------------------------
Over18
(1470, 34)

In [177]:
# 3. 원래 데이터에서 숫자형인 컬럼(변수)만 추출하여 새로운 데이터프레임을 생성하고, 각 변수간의 상관계수(피어슨 상관계수)를 구하고 상관계수가 0.9 이상인 두 개의 컬럼을 찾아내어 그 변수 중 하나를 제거하시오.
import pandas as pd

# 데이터 로드 
df = pd.read_csv('C:/Engineer_Big_Data_Analysis/DATAS/이기적데이터/HR-Employee-Attrition.csv')

# 숫자형인 컬럼만 추출해서 새 df 만들기
new_df = df.select_dtypes('int64') # 도 되고
new_df = df.select_dtypes('number') # 도 되고

# 각 변수간의 상관계수 구하기
corr_df = new_df.corr(method='pearson')
# 그냥 df 조건으로 넣으면 전체 셀이 검색
# stack()은 df를 깔끔하게 정리
target_col = corr_df[(corr_df > 0.9)&(corr_df != 1.0)].stack().index[0][0]
print(target_col)

# 삭제
df.drop(columns = target_col, axis=1)

JobLevel

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [179]:
# 2 유형
# Parkinsons.csv

# 환자들의 뇌 돌출 상황과 상태를 기록한 자료에 각 환자의 상태를 status(1: 파킨슨병 진단, 0: 파킨슨병 아님)로 추가한 데이터입니다.

# 데이터셋을 이용하여 파킨슨병을 예측하는 모델을 로지스틱 회귀모형을 적용하여 생성하고, 이때 파킨슨병을 예측하는데 영향을 미치는 변수를 중요한 순서대로 3개 선정하시오.
# 이 모델에서 파킨슨병으로 진단되는 기준(threshold, 또는 cutoff)을 0.5로 했을 때와 0.8로 했을 때의 F1-스코어를 비교하고 해석하시오. (단, 다음 조건을 지켜서 물음에 답하시오.)
    # 분석 조건
    # 필요 없는 컬럼인 'name' 제거
    # 로지스틱 회귀를 위해 상수항 추가
    # 트레이닝과 테스트셋의 비율을 9:1
    # 데이터의 최적화 방법으로 'bfgs' 사용
    # 데이터 정규화는 min-max 스케일러 사용
    # status는 결과타입으로 설정
    # 모델은 로지스틱 회귀로 사용

In [219]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# 데이터 로드
df = pd.read_csv('C:/Engineer_Big_Data_Analysis/DATAS/이기적데이터/Parkinsons.csv')
# name 컬럼 제거
df.drop(columns='name', axis=1, inplace=True)

# 상관계수 높은 3가지 컬럼 선택
select_cols = list(df.corr()['status'].sort_values()[-4:-1].index)
print(select_cols)

# X,y선택
y = df['status']
X = df.loc[:, select_cols]
# 9:1 분할
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.1, random_state=311)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)
print('-'*50)

# 스케일러 적용
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

# 모델 학습
model = LogisticRegression(solver = 'lbfgs', random_state=311)
model.fit(x_train, y_train)

# predict를 그대로 쓰면, 0.5가 넘으면 1이 되니 확률값을 받아서 직접 처리
y_pred_proba = model.predict_proba(x_test)
y_pred_5 = [1 if i > 0.5 else 0 for i in y_pred_proba[:, -1]]
y_pred_8 = [1 if i > 0.8 else 0 for i in y_pred_proba[:, -1]]
print(f1_score(y_test, y_pred_5))
print(f1_score(y_test, y_pred_8))

['spread2', 'PPE', 'spread1']
(175, 3) (175,)
(20, 3) (20,)
--------------------------------------------------
0.9333333333333333
0.7272727272727273

In [220]:
# 3 유형
# HR-Employee-Attrition.csv

# 결혼유무(미혼, 결혼, 이혼)에 따라 초과근로 여부에 차이가 있는지 카이제곱 검정을 이용하여 확인하시오.

# 주어진 데이터로 결혼유무와 초과근로 간의 분할표를 만들고, 결혼한 집단의 초과근로자 수와 초과근로 하지 않은 자 수의 차이를 정수로 계산하시오.
# 가설검정을 위한 검정통계량을 소수점 둘째자리까지 반올림하여 구하시오.
# 통계량에 대한 p-value 값을 소수점 넷째자리까지 반올림하여 구하고, 유의수준 0.05 내에서 결과를 논하시오. (채택과 기각 중 선택)

In [245]:
import pandas as pd
import scipy.stats as ss

# 데이터 로드
df = pd.read_csv('C:/Engineer_Big_Data_Analysis/DATAS/이기적데이터/HR-Employee-Attrition.csv')
# MaritalStatus 와 OverTime만 가져오기
df = df[['MaritalStatus', 'OverTime']]

# 분할표 만들기
cross_df = pd.crosstab(df['MaritalStatus'], df['OverTime'])
display(cross_df)

# 결혼한 집단의 초과근로자 수 - 초관근로 하지 않는 자 수 = ?
target_gab = abs(cross_df.loc['Married', 'Yes'] - cross_df.loc['Married', 'No'])
print(target_gab)

# 카이제곱 검정 진행하기
chi2_stat, p_value, dof, expected = ss.chi2_contingency(cross_df)

# 결과
print(f'검정통계량: {round(chi2_stat, 2)}')
print(f'p-값: {round(p_value, 4)}')

if p_value < 0.05 : print('귀무가설 기각, 두 변수 사이에 상관성이 있음')
else : print('귀무가설 채택, 두 변수 사이에 상관성이 없음')

OverTime        No  Yes
MaritalStatus
Divorced       228   99
Married        487  186
Single         339  131

301
검정통계량: 0.82
p-값: 0.6647
귀무가설 채택, 두 변수 사이에 상관성이 없음